html{
    font-family: "LatoLatinWeb", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

body.back-picture{
    background: url("/imgs/db.jpg") no-repeat;
}

.sample-class{
    align-items: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.modal-w{
    text-align: center;
    width: 20vw;
    height: 33vh;
    min-width: 350px;
    min-height: 200px;
}

.sample-class h1{
    font-size: 24px;
    line-height: normal;
    font-weight: bold;
    color: midnightblue;
    text-shadow: 2px 2px 2px whitesmoke;
}

.formRow{
    margin-top: 3vh;
}

.btnLogin:hover, .btnReg:hover{
    box-shadow: 0px 10px 20px lightskyblue;
    font-size: 20px;
}

.sample-class input {
    border: 1px solid lightslategrey;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    padding: 6px 8px;
    cursor: text;
    width: 100%;
}


.sample-class .btnLogin, .sample-class .btnReg{
    background: teal;
    border-radius: 2px;
    border: 1px solid steelblue;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.right-top-corner-reg-login{
    position: fixed;
    top: 5%;
    right: 3%;
    width: 5vw;
    min-width: 100px;
}

.right-top-corner-reg-login>a{
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: blue;
    text-shadow: 1px 2px 3px darkblue;
}

/*important go after right-top-corner-reg-login class*/
.welcome-shift{
    left: 3%;
}

.error-mes{
   color: red;
}